*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color : #ffffff;
    --second-color: #f54300;
    --main-colot: #7dd87d;
    --text-color:#130849;
    --other-color: #999fb9;
    --h2-font: 3.2rem;
    --big-font:4.8rem;
    --p-font: 1rem;
    
}